body{
    background-color: rgb(24, 24, 73);
    text-align:center;

}
h1{
    color:rgb(254, 55, 25);
    font-size: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif
}
footer
{
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    text-align: center;
    position: fixed;
    bottom: 10px;
    width:100%;
}

.drum
{
    border:2px solid rgb(155, 215, 42);
    outline:none;
    font-family: cursive;
    font-size: 4rem;
    border-radius: 5%;
    color:red;
    display:inline-block;
    margin: 5px;
    align-items:center;
    justify-content: center;
    background-color: beige;
    height:150px;
    width:150px;
    /* margin-bottom: 50px; */
}

.drum:hover{
    border: 4px solid rgb(208, 155, 31);
}

.s
{
    background-image: url("images/tom1.png");
    background-size: cover; 
}
.r
{
    background-image: url("images/tom2.png");
    background-size: cover;
}
.g
{
    background-image: url("images/snare.png");
    background-size: cover;
}
.m
{
    background-image: url("images/tom4.png");
    background-size: cover;
}
.p
{
    background-image: url("images/tom3.png");
    background-size: cover;
}